<!DOCTYPE html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title><%= title%></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">

  <link rel="shortcut icon" href="<%= url('/favicon.ico') %>">
  <link rel="apple-touch-icon-precomposed" href="<%= url('/apple-touch-icon-precomposed.png') %>">
  <link rel="apple-touch-icon-precomposed" href="<%= url('/apple-touch-icon-72x72-precomposed.png') %>">
  <link rel="apple-touch-icon-precomposed" href="<%= url('/apple-touch-icon-114x114-precomposed.png') %>">
  <link rel="apple-touch-icon-precomposed" href="<%= url('/apple-touch-icon-144x144-precomposed.png') %>">

  <link rel="stylesheet" href="<%= url('/css/style.css') %>">
  <script src="<%= url('/js/head.js') %>"></script>
</head>
<body>
  <div class="row">
    <%-body -%>
  </div>
  <script>
    jsRefs.unshift('<%= url("/js/master.js") %>');
    <% if (!production) { %>
      jsRefs.unshift('<%= url("/js/development.js") %>');
    <% } else { %>
      jsRefs.unshift('//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js');
    <% } %>
    Modernizr.load(jsRefs);
  </script>
</body>
</html>